<!DOCTYPE html>
<!--[if IE 9]> <html lang="zxx" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="zxx" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html dir="ltr" lang="zxx">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <meta name="description" content="<%= description %>">
  <meta name="author" content="abysmli@gmail.com">

  <!-- Mobile Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- //googleapis.com -> useso.com -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

  <!-- Bootstrap core CSS -->
  <link href="/asset/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Font Awesome CSS -->
  <link href="/asset/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

  <!-- Fontello CSS -->
  <link href="/asset/fonts/fontello/css/fontello.css" rel="stylesheet">

  <!-- Plugins -->
  <link href="/asset/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="/asset/css/animations.css" rel="stylesheet">
  <link href="/asset/plugins/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/asset/plugins/owlcarousel2/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="/asset/plugins/hover/hover-min.css" rel="stylesheet">
  <link href="/asset/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

  <!-- The Project's core CSS file -->
  <!-- Use css/rtl_style.css for RTL version -->
  <link href="/asset/css/style.css" rel="stylesheet">
  <!-- The Project's Typography CSS file, includes used fonts -->
  <!-- Used font for body: Roboto -->
  <!-- Used font for headings: Raleway -->
  <!-- Use css/rtl_typography-default.css for RTL version -->
  <link href="/asset/css/typography-default.css" rel="stylesheet">
  <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
  <link href="/asset/css/skins/blue.css" rel="stylesheet">


  <!-- Custom css -->
  <link href="/asset/css/custom.css" rel="stylesheet">
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->

<body class=" ">

  <!-- scrollToTop -->
  <!-- ================ -->
  

  <!-- page wrapper start -->
  <!-- ================ -->
  <div class="page-wrapper">
    <!-- header-container start -->
    <div class="header-container">
      <!-- header-top start -->
      <!-- classes:  -->
      <!-- "dark": dark version of header top e.g. class="header-top dark" -->
      <!-- "colored": colored version of header top e.g. class="header-top colored" -->
      <!-- ================ -->
      <div class="header-top dark">

        <div class="container">
          <div class="row">
            <div class="col-3 col-sm-6 col-lg-9">
              <!-- header-top-first start -->
              <!-- ================ -->
              <div class="header-top-first clearfix">

                <div class="header-top-dropdown text-left hidden-lg-up">
                  <div class="btn-group">
                    <a id="header-top-drop-1" href="/login" type="button" class="btn btn-default btn-sm"><span class="fa fa-user"></span> 登录系统</a>
                  </div>
                </div>
                <ul class="list-inline hidden-md-down">
                  <li class="list-inline-item"><i class="fa fa-phone pr-1 pl-2"></i> <strong class="pl-1">联系方式:</strong> 400-920-2955（中国）+49-7152-6100381（德国）</li>
                  <li class="list-inline-item"><i class="fa fa-exchange pr-1 pl-2"></i> <strong class="pl-1">欧元汇率:</strong> <i id="exchange"></i></li>
                </ul>
              </div>
              <!-- header-top-first end -->
            </div>
            <div class="col-9 col-sm-6 col-lg-3">

              <!-- header-top-second start -->
              <!-- ================ -->
              <div id="header-top-second" class="clearfix">

                <!-- header top dropdowns start -->
                <!-- ================ -->
                <div class="header-top-dropdown text-right">
                  <div class="btn-group">
                    <a id="header-top-drop-1" href="http://usa.99mst.com/" target="_blank" type="button" class="btn btn-default btn-sm"><span class="flag-icon flag-icon-us"></span> 去美国</a>
                  </div>
                  <div class="btn-group">
                    <a id="header-top-drop-2" href="http://jp.99mst.com/" target="_blank" type="button" class="btn btn-default btn-sm"><span class="flag-icon flag-icon-jp"></span> 去日本</a>
                  </div>
                </div>
                <!--  header top dropdowns end -->
              </div>
              <!-- header-top-second end -->
            </div>
          </div>
        </div>
      </div>

      <!-- header start -->
      <!-- classes:  -->
      <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
      <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
      <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
      <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
      <!-- "centered": mandatory class for the centered logo layout -->
      <!-- ================ -->
      <header class="header fixed fixed-desktop clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-auto hidden-md-down pl-3">
              <!-- header-first start -->
              <!-- ================ -->
              <div class="header-first clearfix">
                <!-- logo -->
                <div id="logo" class="logo">
                  <a href="/" target="_blank"><img id="logo_img" src="/images/logo_c.png" width="250" alt="The Project"></a>
                </div>
              </div>
              <!-- header-first end -->

            </div>
            <div class="col-lg-8 col-xl-9">

              <!-- header-second start -->
              <!-- ================ -->
              <div class="header-second clearfix">

                <!-- main-navigation start -->
                <!-- classes: -->
                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                <!-- ================ -->
                <div class="main-navigation  animated">
                  <nav class="navbar navbar-toggleable-md navbar-light p-0">

                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-collapse-1"
                      aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-brand clearfix hidden-lg-up">
                      <!-- logo -->
                      <div id="logo-mobile" class="logo">
                        <a href="/" target="_blank"><img id="logo-img-mobile" src="/images/logo_c.png" width="250" alt="The Project"></a>
                      </div>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                      <!-- main-menu -->
                      <ul class="navbar-nav ml-xl-auto">

                        <!-- mega-menu start -->
                        <li class="nav-item active">
                          <a href="/" target="_blank" class="nav-link">首页</a>
                        </li>
                        <!-- mega-menu end -->
                        <!-- mega-menu start -->
                        <li class="nav-item">
                          <a href="/" target="_blank" class="nav-link">转运资费</a>
                        </li>

                        <li class="nav-item">
                          <a href="/shoptutorial" target="_blank" class="nav-link">海淘教程</a>
                        </li>

                        <!-- mega-menu start -->
                        <li class="nav-item">
                          <a href="/" target="_blank" class="nav-link">购物助手</a>
                        </li>
                        <!-- mega-menu end -->

                        <li class="nav-item">
                          <a href="/aboutus" target="_blank" class="nav-link">关于我们</a>
                        </li>
                      </ul>
                      <!-- main-menu end -->
                    </div>
                  </nav>
                </div>
                <!-- main-navigation end -->
              </div>
              <!-- header-second end -->

            </div>
          </div>
        </div>
      </header>
      <!-- header end -->
    </div>
    
    <div class="quicklink hidden-sm-down">
      <div class="quickbox" style="display: block;">
        <ul style="list-style: none;">
          <li><a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=800070868&amp;aty=0&amp;a=0&amp;curl=www.99mst.de&amp;ty=1"
              target="_blank" title="在线客服"><i class="quickicona"></i>在线客服</a></li>
          <li class="quickwx usergroup"><i class="quickicone"></i>信息咨询
            <div class="wxcode" style="display: none;">
              <img src="/images/qrcode.jpg" width="100" height="100" alt="客户交流微信群">
            </div>
          </li>
          <li><a href="http://weibo.com/eurgo" target="_blank" title="官方微博"><i class="quickiconb"></i>官方微博</a></li>
          <li><a href="/contactus" target="_blank" title="联系我们"><i class="quickicong"></i>联系我们</a></li>
          <li class="quickbot" style="display: none;"><i class="quickicond"></i>返回顶部</li>
        </ul>
      </div>
      <div class="quickon">
        <div class="quickclose" style="display: block;"><i class="closeicona"></i></div>
        <div class="quickopen hidden" style="display: none;">
          <div class="quickplus"><i class="closeiconb"></i></div>
          <div class="quickbot" style="display: none;"><i class="closeiconc"></i></div>
        </div>
      </div>
    </div>
  </div>
  <!-- page-wrapper end -->

  <!-- JavaScript files placed at the end of the document so the pages load faster -->
  <!-- ================================================== -->
  <!-- Jquery and Bootstap core js files -->
  <script type="text/javascript" src="/asset/plugins/jquery.min.js"></script>
  <script type="text/javascript" src="/asset/plugins/tether.min.js"></script>
  <script type="text/javascript" src="/asset/bootstrap/js/bootstrap.min.js"></script>
  <!-- Modernizr javascript -->
  <script type="text/javascript" src="/asset/plugins/modernizr.js"></script>
  <!-- Magnific Popup javascript -->
  <script type="text/javascript" src="/asset/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
  <!-- Appear javascript -->
  <script type="text/javascript" src="/asset/plugins/waypoints/jquery.waypoints.min.js"></script>
  <script type="text/javascript" src="/asset/plugins/waypoints/sticky.min.js"></script>
  <!-- Count To javascript -->
  <script type="text/javascript" src="/asset/plugins/jquery.countTo.js"></script>
  <!-- Parallax javascript -->
  <script src="/asset/plugins/jquery.parallax-1.1.3.js"></script>
  <!-- Contact form -->
  <script src="/asset/plugins/jquery.validate.js"></script>
  <!-- Owl carousel javascript -->
  <script type="text/javascript" src="/asset/plugins/owlcarousel2/owl.carousel.min.js"></script>
  <!-- Initialization of Plugins -->
  <script type="text/javascript" src="/asset/js/template.js"></script>
</body>

</html>