#nav {
	height: 30px;
	padding-left: 0px;
}

#nav #itemlist {
	height: 30px;
	padding: 0px;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #000000;
}
#nav #itemlist li {
	list-style-type: none;
	height: 30px;
	float: left;
	background-image: url(images/airMenusub.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
#nav #itemlist a {
	color: #000000;
	text-decoration: none;	
}
#nav #itemlist a span {
	display: block;
	height: 30px;
	float: none !important;
	float: left;
	cursor: hand;
	font-size: 14px;
	line-height: 30px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 86px;
	text-align: center;
}
.style0 {
	display:block;
	color:#000000;
	width: 86px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	margin-top: 0px;
}
#logo {
	text-align: center;
	overflow: visible;
	height: 75px;
	clear: right;
}
.style1 {
	display:block;
	color:#FFFFFF;
	background-image: url(images/airMenu.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	width: 86px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
}
#subclass {
	color: #000000;
	text-align: right;
	font-size: 12px;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	width: 600px;
	margin-left: 300px;
}
#subclass ol {
	text-align: center;
	display: block;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 95px;
}
#subclass ol li{
	list-style-type: none;
	float: left;
	margin-right: 2px;
	margin-left: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.fgray1 {	color: #000000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
